<%- include('./fragments/header.ejs') %>


<main>
    <h2>Strona glówna</h2>
    <p>Witaj w świecie #Luna Cosmetics! Jako jedna z najprężniej rozwijających się drogerii internetowych możemy pochwalić się ponad
        340 mln aktywnych użytkowników z różnych krajów, rocznie kupujących ok. 50 mln produktów! </p>
    <p> #Luna Cosmetics zawojował już 22 państwa, m.in.: Polskę, Włochy, Niemcy, Austrię, Węgry, Francję, Anglię i Szwajcarię. Każdego dnia zachwycamy
        mieszkańców Europy indywidualnym podejściem, kosmetykami wysokiej jakości i szybką dostawą.
    </p>
    <p>
        Piękno nie ma granic, dlatego nie zamierzamy się zatrzymywać. Dziękujemy, że razem z nami budujesz świat beauty.
    </p>
</main>


<%- include('./fragments/footer.ejs') %>

